.button {
    border-radius: 10px;
}

.inputButton {
    background-color: var(--color-background-dark);
}

.functionButton {
    background-color: var(--color-background-darker);
}

.equalsButton {
    background-color: hsl(195, 100%, 70%);
}