.button {
    font-size: var(--font-size-p);
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    filter: var(--bottom-right-drop-shadow);
}

.inputButton {
    composes: button;
    background-color: var(--color-button-normal);
}

.functionButton {
    composes: button;
    background-color: var(--color-button-dark);
}

.equalsButton {
    composes: button;
    background-color: hsl(195, 100%, 80%);
}