/* Inner CSS grid for the button input pad of the calculator */
.innerCalculatorPanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 5px;
    gap: 5px;
    height: 100%;
}