.calculatorInput {
    grid-column: 1 / 5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: none;
    background-color: var(--color-button-dark);
    filter: var(--bottom-drop-shadow);
    text-align: right; /* Align text to the right like on most calculator apps */
}

.calculatorInput:focus {
    outline: 1px solid var(--color-button-darker);
    transition: 0.5s;
}

/* Remove borders when the calculator goes full screen. */
@media screen and (max-width: 400px), screen and (max-height: 600px) {
    .calculatorInput {
        border-radius: 0px;
    }
}