/* Styling for the main content container of the page */
.mainContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS grid styling for the floating calculator panel */
.calculatorPanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    width: 75%;
    height: 75%;
    max-width: 600px;
    background-color: var(--color-background-light);
    border-radius: 10px;
    filter: var(--full-drop-shadow);
}

/* Make the calculator go full screen on mobile (width wise) */
@media screen and (max-width: 400px), screen and (max-height: 600px) {
    .calculatorPanel {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        max-width: none;
    }
}